#! /usr/bin/env -S bash

# Set up nvm for current directory
if [[ -f "${HOME}"/.nvm/nvm.sh ]]; then
    # shellcheck disable=SC1091
    . "${HOME}"/.nvm/nvm.sh
    nvm use --silent
fi

# Export all variables in .env
while IFS='=' read -r name value; do
    export "${name}"="${value}";
done < <(grep -s . .env)
